//================== Buttons =====================================
.btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  width: 2em;
  height: 2em;
  background-color: var(--primary);
  border: none;
  border-radius: 0.2em;
  opacity: 1;
  color: white;
  margin: .2em;
  transition: opacity .3s;

  &:hover {
    opacity: 0.8;
  }
}
.btn {
  display: block;
  border: none;
  background-color: var(--primary);
  color: var(--text-color);
  padding: .7em 1em;
  margin: .5em;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: var(--secondary);
    color: white;
  }

  &.active {
    border: 1px solid var(--secondary);
    background-color: white;
    color: var(--text-color);
  }
}

.btn-tab {
  display: block;
  border: none;
  background-color: var(--primary);
  color: var(--text-color);
  padding: .7em 1em;
  margin-top: 0.5em;
  border-top: 2px solid var(--primary);
  border-left: 2px solid var(--primary);
  border-right: 2px solid var(--primary);
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  cursor: pointer;
  transition: color .4s;

  &:hover {
    background-color: var(--secondary);
    color: white;
  }

  &.active {
    border: 1px solid var(--secondary);
    background-color: white;
    color: var(--text-color);
  }
}
//================== Containers and boxes ========================
.bordered {
  border: 1px solid var(--primary);
  padding: .5em 1em;
  border-radius: 5px;
}
//================== Forms and controls ==========================
.form-group {
  margin: 1em 0;

  .form-label {
    display: flex;
    flex-direction: column;
  }
  .form-label {
    display: flex;
    flex-direction: column;
  }
  .form-control {
    margin: .5em 0;
    padding: .3em .5em;
    font-size: 1.5rem;
    color: var(--text-color);
    border-radius: 5px;
    border: 1px solid var(--primary);
  }
}